* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color:#f2f2f2;
}

nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  color:inherit;
}

nav ul {
  background-color: #82d1ff;
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 1s ease;
  -ms-transition: max-height 1s ease;
  -moz-transition: max-height 1s ease;
  -o-transition: max-height 1s ease;
  transition: max-height 1s ease;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  transition: background-color .5s ease;
  font-size: 24px;
}

nav ul li:hover {
  background-color: #aaaaaa;
}

.handle {
  width: 100%;
  background: #001426;
  text-align: left;
  padding: 18px 12px;
  cursor: pointer;
  display: none;
  color: white;
}

.handle-menu {
  font-size: 20px;
  font-weight: bold;
  background: -webkit-linear-gradient(white, #0072bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-bars {
  position: relative;
  bottom: 5px;
  float:right;
  color: white;
}

@media only screen and (max-width: 540px) {
  nav ul {
    max-height: 0;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    width: 100%;
    padding: 15px;
  }

  .handle {
    display: block;
  }
}

.title {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: normal;
}

fieldset {
  width: 60%;
  display: inline-block;
  margin-right: 25px;
  margin-left: 50px;
  border: none;
}

#dream-title {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 8px;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
}

textarea {
  width: 100%;
  resize: none;
  padding: 8px 10px;
  font-family: 'Raleway', sans-serif;
  border-radius: 2px;
  border: solid 1px #c4c4c4;
}

.dream-attributes {
  display: inline-block;
  width: 30%;
  position: relative;
  bottom:17px;
}

.hours-slept-box {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

.hours-slept-box p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.hours-slept-input {
  width:50px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
}

.dream-type-box {
  line-height: 25px;
}

.dream-type-header {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.dream-type-select {
  cursor: pointer;
}

.dream-date-box {
  position: relative;
  bottom: 10px;
  margin-bottom:10px;
}

.dream-date-header {
  font-size: 25px;
  margin-bottom: 5px;
}

.date-month {
  width: 45px;
  text-align: center;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  position:relative;
}

.date-day {
  width: 45px;
  text-align: center;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
}

.date-year {
  width: 60px;
  text-align: center;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
}

#date {
  font-family: 'Raleway', sans-serif;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
  width: 170px;
  padding-left: 7px;
}

.submit-reset {
  display: inline-block;
  width: 80%;
  text-align: center;
}

.publish {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 2px;
  background-color: #2699ff;
  color:white;
}

.publish:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.reset {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  color: #ff7aa4;
  position: relative;
  top: 10px;
}

.reset:hover {
  color: red;
}

.normal-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #2699ff;
  line-height: 20px;
}

.normal-tooltip .normal-tooltiptext {
  font-size: 15px;
  line-height: 18px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 125%;
  opacity: 0;
  transition: opacity 0.5s;
}

.normal-tooltip .normal-tooltiptext::after {
  content: "";
  position: absolute;
  top: 8.5%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}


.normal-tooltip:hover .normal-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.lucid-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #3097ff;
  line-height: 20px;
}

.lucid-tooltip .lucid-tooltiptext {
  font-size: 15px;
  line-height: 18px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 130%;
  opacity: 0;
  transition: opacity 0.5s;
}

.lucid-tooltip .lucid-tooltiptext::after {
  content: "";
  position: absolute;
  top: 6%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.lucid-tooltip:hover .lucid-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.nightmare-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #3097ff;
  line-height: 20px;
}

.nightmare-tooltip .nightmare-tooltiptext {
  font-size: 15px;
  line-height: 18px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 120%;
  opacity: 0;
  transition: opacity 0.5s;
}

.nightmare-tooltip .nightmare-tooltiptext::after {
  content: "";
  position: absolute;
  top: 7%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}


.nightmare-tooltip:hover .nightmare-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.recurring-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #3097ff;
  line-height: 20px;
}

.recurring-tooltip .recurring-tooltiptext {
  font-size: 15px;
  line-height: 18px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 120%;
  opacity: 0;
  transition: opacity 0.5s;
}

.recurring-tooltip .recurring-tooltiptext::after {
  content: "";
  position: absolute;
  top: 17%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}


.recurring-tooltip:hover .recurring-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.double-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #3097ff;
  line-height: 20px;
}

.double-tooltip .double-tooltiptext {
  font-size: 15px;
  line-height: 18px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 125%;
  opacity: 0;
  transition: opacity 0.5s;
}

.double-tooltip .double-tooltiptext::after {
  content: "";
  position: absolute;
  top: 6.5%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}


.double-tooltip:hover .double-tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 850px) {
  fieldset {
    width: 100%;
    margin: 0 auto;
  }

  .dream-attributes {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }

  .dream-type-box {
    width: 222px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
}