* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color:#f1f1f1;
}

nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 50px;
  background-color: #cecece;
  text-align: center;
  z-index: 5;
}

nav h1 {
  position: relative;
  bottom: 15px;
}

.title {
  margin-top: 90px;
  margin-left: 65px;
  margin-bottom: 5px;
  font-weight: normal;
}

fieldset {
  width: 60%;
  display: inline-block;
  margin-right: 25px;
  margin-left: 50px;
  border: none;
}

#dream-title {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 8px;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
}

textarea {
  width: 100%;
  resize: none;
  padding: 8px 10px;
  font-family: 'Raleway', sans-serif;
  border-radius: 2px;
  border: solid 1px #c4c4c4;
}

.dream-attributes {
  display: inline-block;
  width: 30%;
  position: relative;
  bottom:17px;
}

.hours-slept-box {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

.hours-slept-box p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

#hours-slept-input {
  width:40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
}

.dream-type-box {
  line-height: 25px;
}

.dream-type-header {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.dream-type-select {
  cursor: pointer;
}

.dream-date-box {
  position: relative;
  bottom: 10px;
  margin-bottom:10px;
}

.dream-date-header {
  font-size: 25px;
  margin-bottom: 5px;
}

.date-month {
  height: 21.5px;
  width: 45px;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  position:relative;
  top: 1px;
}

.date-day {
  width: 45px;
  text-align: center;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
}

.date-year {
  width: 60px;
  text-align: center;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
}

#date {
  font-family: 'Raleway', sans-serif;
  border: solid 1px #c4c4c4;
  border-radius: 2px;
  width: 170px;
  padding-left: 7px;
}

.submit-reset {
  display: inline-block;
  width: 80%;
  text-align: center;
}

.publish {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 2px;
  background-color: #3097ff;
  color:white;
}

.publish:hover {
  background-color: #5eaeff;
  cursor: pointer;
}

.reset {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  color: red;
  position: relative;
  top: 10px;
}

